.notifications-section {
  padding: 5px;
  margin: 0 auto;
  width: 100%;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.info-card {
  margin-bottom: 20px;
}

.add-location-button {
  margin-top: 10px;
}
